<div class= "container fluid text-center">
  <div class="row" style= "display: flex; flex-flow: row wrap; justify-content: space-around">
    <div class="card" style="width: 15rem" >
      <div class="card-body" style="background-color:white">
        <img class="card-img-left" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/batman_hero_avatar_comics-512.png"/>
        <h5 class="card-title" >I am Batman<br /></h5>
        <p class="text-muted">100 k followers</p>
        <br />
        <a href="#" class="btn btn-outline-primary">Follow</a>
      </div>
    </div>
    <div class="card" style="width: 15rem" >
      <div class="card-body" style="background-color:white">
        <img class="card-img-left" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/batman_hero_avatar_comics-512.png"/>
        <h5 class="card-title" >I am Batman<br /></h5>
        <p class="text-muted">100 k followers</p>
        <br />
        <a href="#" class="btn btn-outline-primary">Follow</a>
      </div>
    </div>
    <div class="card" style="width: 15rem" >
      <div class="card-body" style="background-color:white">
        <img class="card-img-left" src="https://www.pinclipart.com/picdir/middle/34-345142_suit-boys-avatar-icon-png-clipart.png"/>
        <h5 class="card-title text-center" >Organisateur 3<br /></h5>
        <p class="text-muted">4599 followers</p>
        <br />
        <a href="#" class="btn btn-outline-primary">Follow</a>
      </div>
    </div>
    <div class="card" style="width: 15rem" >
      <div class="card-body" style="background-color:white">
        <img class="card-img-left" src="https://i.dlpng.com/static/png/1564054-avatar-icon-png-50-px-avatar-png-1600_1600_preview.png"/>
        <h5 class="card-title text-center" >Organisateur 4<br /></h5>
        <p class="text-muted">100 followers</p>
        <br />
        <a href="#" class="btn btn-outline-primary">Follow</a>
      </div>
    </div>
  </div>
</div>